.results {
    grid-column: 3 / 26;
    text-align: left;
    margin: 0;
    background-color: #2E0249;
    opacity: 0.8;
    width: 100%;
    border-radius: 5px;
    color: #FFF;
    padding: 10px 15px;
}

  h2 {
    margin: 0;
  }