li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 20px 0;
}

.subtitle {
    margin: 0;
    color: gray;
}

.plusSign, .deleteSign {
    background: none;
    font-size: 22px;
    border: none;
    color: #FFF;
}

.plusSign:hover, .deleteSign:hover {
    transform: scale(1.2);
}

.plusSign:active, .deleteSign:active{
    transform: scale(0.95);
}