#app {
  margin: 0 auto;
  text-align: center;
}

main {
  padding-top: 100px;
}

header {
  width: 100%; 
  background-color: #2E0249;
  padding: 10px 0;
}

h1 {
  color: #fff;
  margin: 0;
}

p {
  margin: 0;
}