.gridContainer {
    display: grid;
    grid-template-columns: repeat(50, 2%);
    width: 100%;
    margin-top: 100px;
  }

.gridResults {
    grid-column: 1 / 26;
}

.gridTrack {
    grid-column: 26 / 50;
}

.highlight {
    color: #A91079;
}